*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#4facfe;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

background:white;

padding:30px;

width:350px;

border-radius:10px;

text-align:center;

box-shadow:0 0 15px gray;

}

input{

width:100%;

padding:10px;

margin:20px 0;

}

button{

padding:10px 20px;

cursor:pointer;

background:#2196f3;

color:white;

border:none;

border-radius:5px;

}

#weatherResult{

margin-top:20px;

font-size:18px;

}